<article class="story-container">
  
    <div class="story-header">
      <h3><%= story.title %></h2>
    </div>
    <div class="story-body">
      <div class="date-category">
        <p>Date: <span><%= story.formatted_created_date %></span></p>
        <p>Category: <span><%= story.category.name[0].toUpperCase() + story.category.name.slice(1) %></span></p>
      </div>
      <p class="body">
        <%= story.body  %> 
        
      </p>
    </div>
    <div class="story-footer">
      <div class="user">
        <span class="user-image"></span>
        <div class="user-credentials">

              <% if(currentUser && currentUser.username == story.author.username && !currentUser.membership_status || currentUser && currentUser.membership_status) { %> 
                <span class="username"><%= story.author.username%></span>
                <span class="birth_date"><%= story.author.formatted_birthDate%></span>
              <% } else if (!currentUser || !currentUser.membership_status) { %> 
                <span class="username">Anonymous</span>
                  <% } %> 
          
          
        </div>
      </div>
      <div class="info_story_buttons">
        <% if(currentUser && currentUser.email === story.author.email) { %> 
          <a href="/story/<%=story._id%>/update" class="btn-style">Update</a>
          <% } %> 
        <a href="/story/<%=story._id %> " class="btn-style">More</a>
      </div>     
    </div>
  </article>