<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="body-pattern">
    <%- include('./partials/navBar.ejs', {pageTitle}) %>

    <section class="create_category_container">
      
        <form action="" method="post" class="form">

          <div class="category-name">
            <label for="name">Title:</label>
            <input type="text" name="name" id="name" required/>

            <% if(typeof errors != 'undefined') { %>
              <ul class="error-list">
                <% errors.forEach(err => { %>
                <li>&#9679; Category <%= err.msg %></li>
                <% }) %>
              </ul>
            </div>
        
            <% } %>
          </div>

          <div class="all-categories">
            <span>All Categories: </span>
            <div class="category_buttons">
              <% if(categories_list) { %> 
                <% categories_list.forEach(category => { %>
                  <a class="btn-style" href="/category/<%=category._id%>" class="category_button"><%=category.name[0].toUpperCase() + category.name.slice(1)%></a>
                  <% }) %> 
                  <% } %>
                </div>
          </div>

          <div class="buttons-container">
            <a class="underline_link" href="/story/catalog">< Return</a>
            <div class="handle_form_buttons">
              <button class="btn-style empty" type="reset" data-reset>Reset</button>
              <button class="btn-style" type="submit" data-submit>Add Category</button>
          </div>



          
        </form>
      </div>
    
    </section>
     <%- include('./partials/icons.ejs') %>
  </body>
</html>
