<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs', {pageTitle}) %>

    <section class="create_category_container">
      
        <form action="" method="post" class="form">

          <div class="category-name">
            <label for="name">Title:</label>
            <input type="text" name="name" id="name" required/>
          </div>

          <div class="all-categories">
            <span>All Categories: </span>
            <div class="category_buttons">
              <% if(categories_list) { %> 
                <% categories_list.forEach(category => { %>
                  <a href="/category/<%=category._id%>" class="category_button"><%=category.name[0].toUpperCase() + category.name.slice(1)%></a>
                  <% }) %> 
                  <% } %>
                </div>
          </div>

          <div class="buttons-container">
            <a href="/story/catalog">Return</a>
            <div class="handle_form_buttons">
              <button type="reset" data-reset>Reset</button>
              <button type="submit" data-submit>Add Category</button>
          </div>



          
        </form>
      </div>
      <% if(typeof errors != 'undefined') { %>
        <ul>
          <% errors.forEach(err => { %>
          <li><%= err.msg %></li>
          <% }) %>
        </ul>
    
        <% } %>
    
    </section>
     <%- include('./partials/icons.ejs') %>
  </body>
</html>
