<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="body-pattern">
    <%- include('./partials/navBar.ejs', {pageTitle}) %>
    <section class="profile-container">
      <h1><%= user.username %></h1>
      <p>
        <span class="info">Date of birth: </span><%= user.formatted_birthDate %>
      </p>
      <p><span class="info">Sex: </span><%= user.sex %></p>
      <p><span class="info">Email: </span><%= user.email %></p>

      <% if(!user.membership_status) { %>
      <p><span class="info">Membership: </span>You are not a member</p>
      <% } else { %>
      <p><span class="info">Membership: </span>You are a member</p>
      <% } %>

      <div class="stories">
        <span class="info">Stories by <%=user.username%>:</span>
        <% if(userStories.length > 0) { %> <% userStories.forEach(story => { %>
        <a class="btn-style" href="/story/<%= story._id %>"
          ><%= story.title %></a
        >
        <% }) %> <% } %>
      </div>

      <% if(user.username === currentUser.username) { %>
      <a href="/account/log-out" class="underline_link">Logout</a>
      <div class="handle-profile">
        <a href="/account/profile/<%= user._id  %>/update " class="btn-style"
          >Update</a
        >
      </div>
      <% } %>
    </section>
  </body>
</html>
