<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="body-pattern">
    <%- include('./partials/navBar.ejs', {pageTitle}) %>
    <article class="story-details-container">
      <div class="story">
        <p><span class="intro">Title: </span><%= story.title %></p>
        <p><span class="intro">Body: </span><%= story.body %></p>
        <p>
          <span class="intro">Category: </span><%=
          story.category.name[0].toUpperCase() + story.category.name.slice(1)%>
        </p>
        <p>
          <span class="intro">Published: </span><%= story.formatted_created_date
          %>
        </p>
      </div>
      <div class="story-author">
        <% if(!currentUser || !currentUser.membership_status) { %>
        <p><span class="intro">Author: </span>Anonymous</p>
        <p><span class="intro">Date of Birth: </span>Anonym</p>
        <% } else if (currentUser.username == story.author.username &&
        !currentUser.membership_status || currentUser &&
        currentUser.membership_status) { %>
        <a class="underline_link" href="/account/profile/<%=story.author._id%>">
          <span class="intro">Author: </span><%= story.author.username %>
        </a>
        <p>
          <span class="intro">Date of Birth: </span
          ><%=story.author.formatted_birthDate %>
        </p>
        <% } %>
      </div>
      <a href="/story/catalog" class="underline_link">Go Back to Catalog</a>
    </article>

    <%- include('./partials/icons.ejs') %>
  </body>
</html>
