<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navBar.ejs', {pageTitle}) %>

    <section class="grid-container">
      <% list_story.forEach(story => { %> <%-
      include('./partials/storyContainer.ejs', {story}) %> <% }) %>
    </section>

    <% if(!currentUser) { %>
    <p>
      If you want to write your stories and see all the details of other stories
      you must register or be logged in
    </p>
    <% } %> <% if(currentUser && !currentUser.membership_status) { %>
    <p>
      <a href="/account/profile/<%= currentUser._id %>/update "
        >(Link: Become a member)</a
      >
      to see all the details of other stories
    </p>
    <% } %> <% if(!list_story.length > 0) { %>
    <p>No story available</p>
    <% } %> <%- include('./partials/icons.ejs') %>
  </body>
</html>
